.app-layout {
    -fx-background-image: url("/images/background.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

.home-title {
    -fx-text-fill: rgb(20, 25, 25);
}

.logout-btn {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-background-color: rgba(0, 169, 255, 1);
}

.logout-icon {
    -fx-fill: white;
}

.sidemenu {
    -fx-background-color: rgba(205, 245, 253, 0.7);
}

.sidemenu-nav-btn {
    -fx-border-width: 0 0 0 10px;
    -fx-font-size: 20px;
    -fx-text-alignment: left;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-max-width: 350px;
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 169, 255, 1);
}

.sidemenu-nav-btn.button {
    -fx-alignment: center-left;
}

.sidemenu-nav-btn:hover {
    -fx-background-color: rgba(137, 207, 243, 1);
}

.sidemenu-nav-btn.active {
    -fx-background-color: rgba(137, 207, 243, 1);
}

.username-label {
    -fx-text-fill: rgba(0, 169, 255, 1);
}