.login-layout {
    -fx-background: rgb(10, 12, 12);
}

.bg-image {
    -fx-background-image: url("/images/background.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

.logo-image {
    -fx-background-image: url("/images/Logo_Aquarium.png");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

.login-title {
    -fx-text-fill: rgb(20, 25, 25);
}

.ms-login-btn {
    -fx-background-color: rgb(230, 235, 235);
}

.ms-login-btn:hover {
    -fx-background-color: rgb(220, 225, 225);
}

.login-with-label {
    -fx-text-fill: rgb(255, 255, 255);
}
